beautifulsoup4==4.12.3
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
dnspython==2.6.1
greenlet==3.0.3
idna==3.7
motor==3.4.0
numpy==1.26.4
pandas==2.2.2
pathlib==1.0.1
playwright==1.44.0
pyee==11.1.0
pymongo==4.7.3
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
